<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>本一覧</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>ページ数</th>
        <th>内容</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${bookList.bookList}">
        <td><a href="/ui/books/edit?bookId=-1" th:href="@{edit(bookId=${book.bookId})}"
               th:text="${book.bookId}" class="idlink">-1</a></td>
        <td th:text="${book.bookTitle}">test</td>
        <td th:text="${book.bookPages}">test</td>
        <td th:text="${book.bookContent}">test</td>
    </tr>
    </tbody>
</table>
<a th:href="@{add}" id="addlink">新規登録</a>
</body>
</html>